# ---------------[ Unity generated ]------------------ #
/Temp
/obj
/UnityGenerated
/Library

/Library/metadate/a7
 
# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/Library/AssetImportState
/Library/metadata
/Library/ScriptAssemblies
/Library/ShaderCache
/Library/AnnotationManager
/Library/assetDatabase3
/Library/ShaderCache.db
/Library/BuildPlayer.prefs
/Library/BuildSettings.asset
/Library/CurrentLayout.dwlt
/Library/EditorUserBuildSettings.asset
/Library/EditorUserSettings.asset
/Library/expandedItems
/Library/FailedAssetImports.txt
/Library/guidmapper
/Library/InspectorExpandedItems.asset
/Library/MonoManager.asset
/Library/ProjectSettings.asset
/Library/ScriptMapper